doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(method="post" enctype="multipart/form-data")
            input(type="file", name="image" )

            input(type="submit", value="post")
            img(src="uploads/3df54bb8e92567b2333692f0d7de81aa")